:root {

}

/* *** IntrumentForm *** */
.instrument-form {
    
}

/* *** ExitUpdateButton *** */
.exit-update-button {

}

/* *** InstrumentTable *** */
.instrument-table {

}

/* *** TableEntry *** */
.table-entry {

}