:root {
    --update-color: orange;
    --delete-color: tomato;
    --submit-color: limegreen;
}

body {
    max-width: 900px;
    margin: auto;
}

/* *** App *** */
.app > * {
    margin-bottom: 1rem;
}

h1 {
    margin-top: 0.25rem;
}

button, input[type="submit"] {
    padding: 0.25em 0.5em;
    border: none;
    border-radius: 0.75em;

    color: white;
    font-weight: bold;

    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    filter: brightness(110%);
}